@font-face {
  font-family: "Work Sans", sans-serif;
  src: local("Work Sans"), url("./assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans", sans-serif;
  src: local("Work Sans"), url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
  font-optical-sizing: auto;
  font-style: italic;
}

:root {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;

  --white: hsl(0, 0%, 100%);
  --pink: hsl(275, 100%, 97%);
  --purple-grayish: hsl(292, 16%, 49%);
  --purple-dark: hsl(292, 42%, 14%);

  --mobile: 375px;
  --desktop: 1440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
